@define-color borders_breeze #c8c9b5;
@define-color content_view_bg_breeze #fffbf0;
@define-color error_color_backdrop_breeze #da4453;
@define-color error_color_breeze #da4453;
@define-color error_color_insensitive_backdrop_breeze #f4c4c1;
@define-color error_color_insensitive_breeze #f4c4c1;
@define-color insensitive_base_color_breeze #fffbf0;
@define-color insensitive_base_fg_color_breeze #bdbbb4;
@define-color insensitive_bg_color_breeze #ffffe4;
@define-color insensitive_borders_breeze #efefd6;
@define-color insensitive_fg_color_breeze #bdbeab;
@define-color insensitive_selected_bg_color_breeze #ffffe4;
@define-color insensitive_selected_fg_color_breeze #bdbeab;
@define-color insensitive_unfocused_bg_color_breeze #ffffe4;
@define-color insensitive_unfocused_fg_color_breeze #bdbeab;
@define-color insensitive_unfocused_selected_bg_color_breeze #ffffe4;
@define-color insensitive_unfocused_selected_fg_color_breeze #bdbeab;
@define-color link_color_breeze #a99421;
@define-color link_visited_color_breeze #7f8c8d;
@define-color success_color_backdrop_breeze #27ae60;
@define-color success_color_breeze #27ae60;
@define-color success_color_insensitive_backdrop_breeze #bee4c5;
@define-color success_color_insensitive_breeze #bee4c5;
@define-color theme_base_color_breeze #fffbf0;
@define-color theme_bg_color_breeze #ffffe4;
@define-color theme_button_background_backdrop_breeze #ffaa00;
@define-color theme_button_background_backdrop_insensitive_breeze #ffaa00;
@define-color theme_button_background_insensitive_breeze #ffaa00;
@define-color theme_button_background_normal_breeze #ffaa00;
@define-color theme_button_decoration_focus_backdrop_breeze #e8cb2d;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #f8b40e;
@define-color theme_button_decoration_focus_breeze #e8cb2d;
@define-color theme_button_decoration_focus_insensitive_breeze #f8b40e;
@define-color theme_button_decoration_hover_backdrop_breeze #e8cb2d;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #f8b40e;
@define-color theme_button_decoration_hover_breeze #e8cb2d;
@define-color theme_button_decoration_hover_insensitive_breeze #f8b40e;
@define-color theme_button_foreground_active_backdrop_breeze #232627;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #bdbeab;
@define-color theme_button_foreground_active_breeze #000000;
@define-color theme_button_foreground_active_insensitive_breeze #bdbeab;
@define-color theme_button_foreground_backdrop_breeze #232627;
@define-color theme_button_foreground_backdrop_insensitive_breeze #bd820c;
@define-color theme_button_foreground_insensitive_breeze #bd820c;
@define-color theme_button_foreground_normal_breeze #232627;
@define-color theme_fg_color_breeze #232627;
@define-color theme_header_background_backdrop_breeze #ffffe4;
@define-color theme_header_background_breeze #ffffe4;
@define-color theme_header_background_light_breeze #ffffe4;
@define-color theme_header_foreground_backdrop_breeze #232627;
@define-color theme_header_foreground_breeze #232627;
@define-color theme_header_foreground_insensitive_backdrop_breeze #232627;
@define-color theme_header_foreground_insensitive_breeze #232627;
@define-color theme_hovering_selected_bg_color_breeze #e8cb2d;
@define-color theme_selected_bg_color_breeze #eed967;
@define-color theme_selected_fg_color_breeze #000000;
@define-color theme_text_color_breeze #232627;
@define-color theme_titlebar_background_backdrop_breeze #eff0f1;
@define-color theme_titlebar_background_breeze #eeda63;
@define-color theme_titlebar_background_light_breeze #ffffe4;
@define-color theme_titlebar_foreground_backdrop_breeze #bdc3c7;
@define-color theme_titlebar_foreground_breeze #000000;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #bdc3c7;
@define-color theme_titlebar_foreground_insensitive_breeze #bdc3c7;
@define-color theme_unfocused_base_color_breeze #fffbf0;
@define-color theme_unfocused_bg_color_breeze #ffffe4;
@define-color theme_unfocused_fg_color_breeze #232627;
@define-color theme_unfocused_selected_bg_color_alt_breeze #faedb0;
@define-color theme_unfocused_selected_bg_color_breeze #faedb0;
@define-color theme_unfocused_selected_fg_color_breeze #232627;
@define-color theme_unfocused_text_color_breeze #232627;
@define-color theme_unfocused_view_bg_color_breeze #fffbf0;
@define-color theme_unfocused_view_text_color_breeze #bdbbb4;
@define-color theme_view_active_decoration_color_breeze #e8cb2d;
@define-color theme_view_hover_decoration_color_breeze #e8cb2d;
@define-color tooltip_background_breeze #232627;
@define-color tooltip_border_breeze #595c5c;
@define-color tooltip_text_breeze #fcfcfc;
@define-color unfocused_borders_breeze #c8c9b5;
@define-color unfocused_insensitive_borders_breeze #efefd6;
@define-color warning_color_backdrop_breeze #f67400;
@define-color warning_color_breeze #f67400;
@define-color warning_color_insensitive_backdrop_breeze #fcd3a8;
@define-color warning_color_insensitive_breeze #fcd3a8;
