window.thunar {
  background: none;
  /* hide separator */
}
window.thunar treeview {
  background: none;
}
window.thunar grid *:selected,
window.thunar grid *:active {
  background: #43a6c6;
  border-radius: 3px;
}
window.thunar .sidebar {
  /*background: #131a1c;*/
  background: none;
  padding: 1rem;
}
window.thunar treeview {
  padding: 3px;
  color: #dadada;
}
window.thunar treeview:selected {
  /*background: #202729;*/
  color: #000;
  border-radius: 0.5em;
}
window.thunar .frame {
  border: 0;
}
window.thunar toolbar entry {
  /*background: #2c3335;*/
  background: none;
  border-radius: 10px;
  margin: 3px 2em 3px 1em;
  padding: 0px 1rem;
}
window.thunar toolbar entry image {
  background-image: image(rgba(54, 61, 63, 1)));
}
window.thunar paned grid {
  background: none;
  color: #dadada;
}
window.thunar toolbar {
  background: none;
  padding: 5px 0;
}
window.thunar toolbar * {
  background: none;
}
/*window.thunar separator {*/
  /*background-image: image(#131a1c);*/
  /*background-size: 1px 1px;*/
  /*background-position: center center;*/
/*}*/
