
/* .nemo-window .sidebar .view { */
/*     background-color: #1d2021; */
/*     color: #ebdbb2; */
/*     border: none; */
/* } */
/**/
/* .nemo-window .view { */
/*     /* background-color: #aacc99; */ */
/*     background-color: #1d2021; */
/*     color: #ebdbb2; */
/* } */
/* .nemo-window .view *:selected { */
/*     background-color: #eebd35; */
/*     color: #000; */
/* } */
/**/
/* .nemo-window { */
/*     /* background-color: #afbc99; */ */
/*     background-color: #504945; */
/*     color: #ebdbb2; */
/* } */
/**/
/* .nemo-window toolbar { */
/*     /* background-color: #bbcf99; */ */
/*     background-color: #171a1a; */
/*     color: #ebdbb2; */
/* } */

.sidebar {
    background: #0c0c0c;
    color: #66cc99;
}

window.thunar {
  background: #10002b;
  /* hide separator */
}
window.thunar treeview {
  /*background: rgba(224, 170, 255, 0.8);*/
  background: rgba(16, 0, 43, 0.8);
  padding: 3px;
  font: Iosevka 17px;
}
window.thunar grid *:selected,
window.thunar grid *:active {
  background: #e0aaff;
  border-radius: 3px;
}
window.thunar .sidebar {
  /*background: #131a1c;*/
  background: #9d4edd;
  border-radius: 0.5em;
  padding: 1px;
}
/*window.thunar treeview {*/
  /*color: #dadada;*/
/*}*/
window.thunar treeview:selected {
  /*background: #202729;*/
  color: #000;
  border-radius: 0.5em;
}
window.thunar .frame {
  border: 0;
}
window.thunar toolbar entry {
  /*background: #2c3335;*/
  background: #10004b;
  border-radius: 10px;
  margin: 3px 2em 3px 1em;
  padding: 0px 1rem;
}
window.thunar toolbar entry image {
  background-image: image(rgba(54, 61, 63, 1)));
}
window.thunar paned grid {
  background: #15404b;
  color: #dadada;
}
window.thunar toolbar {
  /*background: none;*/
  padding: 5px 0;
}
/*window.thunar separator {*/
  /*background-image: image(#131a1c);*/
  /*background-size: 1px 1px;*/
  /*background-position: center center;*/
/*}*/
