/** Global *******************************************/
*{
  all: unset;
  font-family: MartianMono Nerd Font;
}

/** Generic window ***********************************/
.genwin {
  background-color: rgba(33, 33, 37, 0.9);
  border-radius: 30px;
}

/** My Clock ********************************************/
.my_time_hour, .my_time_min, .my_time_mer {
  color: rgba(215, 153, 33, 0.4);
  font-size :30px;
  font-weight : bold;
}

.my_time_month, .my_time_num, .my_time_day {
  color: rgba(251, 73, 52, 0.4);
  font-size :30px;
  font-weight : bold;
}

.photo {
  opacity: 0.8;
  border: orange;
	border-radius: 20%;
}

.photowin {
  min-width: 400px;
	min-height: 400px;
  border: orange;
	border-radius: 20%;
}
