* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Jetbrains Mono, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding: 0px 0px;
    margin: 0 1;
    min-height: 0px;
    min-width: 0px;
}

window#waybar {
    /*background-color: rgba(1, 18, 26, 0.2);*/
    background-color: transparent;
    /*border-bottom: 3px solid rgba(202, 179, 182, 0.2);*/
    color: #986e75;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0;
}

/*.modules-left {*/
    /*color: #cab3b6;*/
/*}*/

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.foot {
    background-color: #3F3F3F;
}

window#waybar.firefox {
    background-color: transparent;
    border: none;
}

#workspaces button {
    padding: 5px 0px;
    /*background-color: rgba(103, 41, 52, 0.1);*/
    /* background-color: #191724; */
    background-color: #0c0c0c;
    color: #ebdbb2;
    /* Use box-shadow instead of border so the text isn't offset */
    /*box-shadow: inset 0 -3px transparent;*/
    /* Avoid rounded borders under each workspace name */
    /* border: 1px solid #191724; */
    border-radius: 1;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: #fabd2f;
    color: #000;
    border: none;
    /* box-shadow: inset 0 -3px #ffee33; */
}

#workspaces button.active {
    /* background-color: #26233a; */
    /* background-color: #66cc99; */
    background: #fabd2f;
    color: #0c0c0c;
    /*box-shadow: inset 0 -3px #191919;*/
    /* border: 1px solid #66cc99; */
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 3 3px;
    /*color: #ffffff; */
    border-radius: 2;
    border: 1px solid #191724;
}
    
#window,
#workspaces {
    margin: 0 4px;
    border-radius: 100px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    /* background-color: #1f1d2e; */
    background-color: #0c0c0c;
    color: #ebdbb2;
    /* color: #66cc99; */
}

#battery {
    background-color: #eee;
    color: #240046;
}

#battery.charging, #battery.plugged {
    color: #240046;
    background-color: #00ff44;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #191919;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #191919;
}

#cpu {
    background-color: #2ecc71;
    color: #191919;
}

#memory {
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #5829a7;
    color: #e0aaff;
}

#network.disconnected {
    background-color: #f53c3c;
}
#network.connected {
    background-color: #0c0c0c;
    color: #66cc99;
}

#pulseaudio {
    background-color: #0c0c0c;
    /*background-color: rgba(32, 25, 34, 1);*/
    /* color: #66cc99; */
    color: #ebdbb2;
}

#pulseaudio.muted {
    background-color: #eb6f92;
    color: #191724;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;

}
#tray {
    background-color: #0c0c0c;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #10002b;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #191919;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
