@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
configuration {
  // modes: "window,drun,run,ssh";
  font: "MartianMono Nerd Font Mono 16";
  fixed-height: true;
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

element {
  orientation: horizontal;
  children: [ element-text, element-icon ];
  spacing: 5px;
}

window {
  // background-color: orange;
  // border-color: rgb(8 81 156);
  // border-color: yellow;
  padding: 20px;
}

listview { 
  lines: 7; 
}


entry, element-text  {
  // background-color: orange;
  // text-color: rgb(107, 174, 213);
  // text-color: gray;
}

element-text selected {
  // background-color: rgb(107, 174, 213);
  // text-color: rgb(8, 81, 156);
  background-color: #ff8c00;
  text-color: black;
}

